target

.gradle

./run/
/out/
/**/out
.idea

*.iml
*.ipr
*.iws

*.class

*.hprof

*.log
/**/logs

*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

/**/build

!**/libs/*.jar
!gradle/wrapper/*
!datadog/dd-java-agent.jar

.DS_Store

.run/*
.project

# Ignore Gradle build output directory
build
